<div class="signature">
  <div class="signature__column">
    <span class="signature__label">Built with</span>

    <span class="signature__logos">
      <img src="assets/ionic-logo.png" alt="Ionic" />

      <span class="signature__separator">&</span>

      <img src="assets/capacitor-logo.png" alt="Capacitor" />
    </span>
  </div>
  <div class="signature__column">
    <span class="signature__label">Built by</span>

    <span class="signature__logos">
      <img src="assets/diegodanielcaceres.png" alt="Ionic" />
    </span>
  </div>
  <div class="signature__version">Version: v{{ appVersion }}</div>
</div>
