<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (isShowMenuButton()) {
        <ion-menu-button menu="main-menu"></ion-menu-button>
      } @else {
        <ion-button fill="clear" (click)="goBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
    <ion-title>
      <h1 class="shell-title">Ionic Plugin Lab</h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="flask-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="shell-content">
  <div class="shell-container">
    <ng-content></ng-content>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button
    tab="home"
    routerLink="/home"
    [selected]="activePage() === 'home'"
  >
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>
  <ion-tab-button
    tab="favorites"
    routerLink="/favorites"
    [selected]="activePage() === 'favorites'"
  >
    <ion-icon name="star-outline"></ion-icon>
    <ion-label>Favorites</ion-label>
  </ion-tab-button>
  <ion-tab-button
    tab="recent"
    routerLink="/logs"
    [selected]="activePage() === 'recent'"
  >
    <ion-icon name="time-outline"></ion-icon>
    <ion-label>Recents</ion-label>
  </ion-tab-button>
  <ion-tab-button
    tab="settings"
    routerLink="/settings"
    [selected]="activePage() === 'settings'"
  >
    <ion-icon name="settings-outline"></ion-icon>
    <ion-label>Settings</ion-label>
  </ion-tab-button>
</ion-tab-bar>
