$primary-color: #9072fb;
$secondary-color: #4bd7b5;

:host {
  width: 40%;
  height: 40%;
  max-width: 150px;
  max-height: 150px;
}

.logo {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px dashed rgba(var(--ion-color-primary-rgb), 0.15);
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 30px;
  }

  ion-icon {
    width: 15px;
    height: 15px;
    padding: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(79, 70, 229, 0.1);

    &:nth-of-type(odd) {
      color: $primary-color;
    }

    &:nth-of-type(even) {
      color: $secondary-color;
    }

    &:nth-of-type(1) {
      left: -5px;
      top: -5px;
    }

    &:nth-of-type(2) {
      top: -5px;
      right: -5px;
    }

    &:nth-of-type(3) {
      bottom: -5px;
      right: -5px;
    }

    &:nth-of-type(4) {
      bottom: -5px;
      left: -5px;
    }
  }
}
